$def with (colores, mensaje)

<div class="text-center mt-4">
    
    <h3>Paleta Ordenada</h3>

    <!-- Mensaje -->
    $if mensaje:
        <p class="text-muted">$mensaje</p>

    <!-- Formulario  -->
    <form method="POST" class="mb-4">
        <input type="text" name="color" placeholder="Ej. #FF5733" required>
        <button type="submit" class="btn btn-dark btn-sm">Añadir</button>
    </form>

    <!-- Lista de Colores -->
    $if not colores:
        <p>No hay colores en la lista.</p>
    $else:
        $for c in colores:
            $code:
                fondo = "background-color: " + c['hex'] + ";"
            
            <div class="mb-2">
                <span style="display:inline-block; width:25px; height:25px; border:1px solid #ccc; $fondo"></span>
                <b class="ms-2">$c['hex']</b>
            </div>

</div>